.toolbox-title{
    margin: 20px auto;
    text-align: center;
    color: #800000;
}

.top-img{
    width: 180px;
    display: flex;
    position: relative;
    margin: auto;
    padding: 18px;
}

.col{
    margin-top: 5px;
}

.nav-tabs .nav-item .nav-link{
    background: #800000;
    width: 100%;
    margin: 0;
    border-radius: 0;
    color: white;
    font-size: 14px;
}
.nav-tabs .nav-item .active{
    background: #f44336;
    width: 100%;
    margin: 0;
    border-radius: 0;
}

.nav-tabs .nav-item {
    padding:0;
}

.nav-tabs{
    max-width: 1110px;
    position: relative;
    margin: auto;
}

.tab-content{
    background: white;
    width: 100%;
    padding: 20px;
    position: relative;
    margin: auto;
}

.tab-content .tab-pane .row{
    position: relative;
    margin: auto;
}

.col .card{
    position: relative;
    margin: auto;
}

.nav-container{
    max-width: 1200px;
}

input{
    width: 100%;
    padding: 8px; /* Some padding */
    margin: 8px auto; /* Some space above and below */
    display: flex; /* To use width 100% */
    align-content: center;
    /*border: #444444 2px;*/
    border-radius: 5px;
    box-sizing: border-box;
}


.calc-btn{
    position: relative;
    margin: 10px auto;
    color: white;
    background: #FF0800;
    text-align: center;
    display: flex;
    align-content: center;
    justify-content: center;
    align-self: center;
    width: 50%;
    border-radius: 10px;
}